body {
    background-color: #cff3e7;
}

@media screen and (min-width: 480px) {
    body {
       background-color:#cff3e7;
       color:black;
}
.piggie {
    padding-left: 370px;
}
.pigie {
    padding-left: 390px;
}
.rules {
    display: none;
    text-align: center;
}
#game {
    margin-left: 460px;
}