boljdy {
    background-color: #cff3e7;
}
#score1 {
    display: inline;
}
@media screen and (min-width: 480px) {
    body {
     background-color:#cff3e7 ;
     color:black;
}
.piggie {
  padding-left: 320px;
}
.pigie {
    padding-left: 320px;
}
.rules{
    display: none;
    text-align: center;
}
#game{
    margin-left: 350px;
}

